.alert-lg {
  @include size($alert-padding-y * 2, $alert-padding-x * 2, $font-size-lg, $line-height-lg);
}

.alert-sm {
  @include size($alert-padding-y / 2, $alert-padding-x / 2, $font-size-sm, $line-height-sm);
  .close {
    line-height: $line-height-sm / 2;
    padding: 0;
    top: 0;
    right: 0;
  }
}
