.container {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.imageContainer {
  @extend .container;
  overflow: hidden;
  padding: 0.2rem;
  z-index: 2;
  border: $gray-lighter 1px solid;
}

h1, h2, h3,
h4, h5, h6 {
  @extend %headings !optional;
}

.infoContainer {
  @extend .container;
  margin-left: 0.5rem;

  > %headings {
    color: $gray-dark;
    margin-bottom: 0;
  }

  p {
    color: $gray-light;
    margin-bottom: 0;
  }
}

.image {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
