.loadBar {
  position: relative;
  width: 100%;
  height: 6px;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  animation: loading 3s linear infinite;
  background-color: $brand-primary;
}
.bar:nth-child(2) {
  animation: loading 3s linear 1s infinite;
  background-color: $brand-success;
}
.bar:nth-child(3) {
  animation: loading 3s linear 2s infinite;
  background-color: $brand-warning;
}

@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}
